
<footer class="bg-secondary border-t-2 mt-4">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="{{ path('home') }}" class="flex items-center justify-center">
                    <img src="{{ asset('images/BAGGYY.png') }}" class="w-40 h-auto me-3" alt="Baggyy logo" />
                </a>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Resources</h2>
                    <ul class="text-black font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Test</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Tailwind CSS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
                    <ul class="text-black font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline ">Instagram</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Facebook</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-black uppercase">Legal</h2>
                    <ul class="text-black font-medium">
                        <li class="mb-4">
                            <a href="#" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-black sm:text-center">© 2025 <a href="{{ path('home') }}" class="hover:underline">Baggyy™</a>. All Rights Reserved.
          </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0">
                <a href="#" class="text-black hover:text-gray-900">
                    <i class="fa-brands fa-square-facebook w-4 h-4"></i>
                    <span class="sr-only">Facebook page</span>
                </a>
                <a href="#" class="text-black hover:text-gray-900 ms-5">
                    <i class="fa-brands fa-instagram w-4 h-4"></i>
                    <span class="sr-only">Discord community</span>
                </a>
                <a href="#" class="text-black hover:text-gray-900 ms-5">
                    <i class="fa-brands fa-discord w-4 h-4"></i>
                    <span class="sr-only">Discord community</span>
                </a>
            </div>
        </div>
    </div>
</footer>
