@import 'tailwindcss';

@font-face {
    font-family: 'myfont';
    src: url('../fonts/Radeil3d.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'phudu';
    src: url('../fonts/Phudu-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'phudu-bold';
    src: url('../fonts/Phudu-Bold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/BebasNeue-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: phudu, sans-serif;
    background: #36D9AD;
}
nav {
    background: #36D9AD;
}

@theme {
    --font-phudu-bold: 'phudu-bold', sans-serif;
    --color-primary: #0989D9;
    --color-primary-hover: #1e40af;
    --color-secondary: #fcad2d;
}
